# Ignorar variáveis de ambiente e segredos
.env

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de ambiente virtual
venv/
.env/
ENV/

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários
*.tmp
*.swp 